version : '3'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "81:8000"
    volumes:
      - ./src:/src
      - ./config/nginx:/etc/nginx/conf.d
    depends_on:
      - web
  db:
    image: mysql
    restart: always
    container_name: db01
    environment:
      - MYSQL_DATABASE=app
      - MYSQL_ROOT_PASSWORD=abcdf123
  web:
    build: .
    environment:
      - DB_NAME=app
      - DB_USER=root
      - DB_PASSWORD=abcdf123
      - DB_HOST=db
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./src:/src
    expose:
      - "8000"
    depends_on:
      - db
